/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about_header {
  background-image: url(sprite.png);
  background-position: -1160px -1035px;
  width: 357px;
  height: 125px;
}
.icon-article_pic {
  background-image: url(sprite.png);
  background-position: -479px -1035px;
  width: 681px;
  height: 128px;
}
.icon-blog_header {
  background-image: url(sprite.png);
  background-position: 0px -1346px;
  width: 303px;
  height: 208px;
}
.icon-example1 {
  background-image: url(sprite.png);
  background-position: 0px -1035px;
  width: 479px;
  height: 311px;
}
.icon-map {
  background-image: url(sprite.png);
  background-position: -1800px 0px;
  width: 1200px;
  height: 977px;
}
.icon-review_bg {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 1800px;
  height: 1035px;
}
.icon-review_bg_list1 {
  background-image: url(sprite.png);
  background-position: -985px -1163px;
  width: 58px;
  height: 108px;
}
.icon-review_bg_list2 {
  background-image: url(sprite.png);
  background-position: -1658px -1035px;
  width: 99px;
  height: 91px;
}
.icon-review_bg_list3 {
  background-image: url(sprite.png);
  background-position: -1517px -1035px;
  width: 141px;
  height: 120px;
}
.icon-review_pic {
  background-image: url(sprite.png);
  background-position: -1757px -1035px;
  width: 77px;
  height: 77px;
}
.icon-review_quote {
  background-image: url(sprite.png);
  background-position: -1834px -1035px;
  width: 75px;
  height: 61px;
}
.icon-works_header {
  background-image: url(sprite.png);
  background-position: -479px -1163px;
  width: 506px;
  height: 165px;
}
